<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name ="viewport" content="width-device-width, initial-scale=1.0">
<title>Login</title>
<link rel="Stylesheet" href="style.css">
<script>function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }</script>
</head>
<body>
  <header>
    <div class="logo">
        <img src="logo1.jpg" alt="Statiq">
        <span class="logo-text">SparkLoom</span>
    </div>
    <nav>
        <ul>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#partners">Partner with Us</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <li><a href="/home1" class="highlight">Home</a></li>
            <li><a href="/history" class="highlight">History</a></li>
        </ul>
    </nav>
</header>
<div class="form-container">
<h2>Login</h2>
<form action="/login" method="post"2>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
    </div>
    <div class="form-group">
        <label for="email" >Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
    </div>
    
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password" required>
        
            <h5>Show password</h5> <input type="checkbox" onclick="myFunction()">
        
    </div>
    
    <button type="submit" class="submit-btn">Login</button>
</form>

<p>Dont have an account<a href="/signup">Signup</a></p>
</div>
<h class="horizontal-line"></h>
    <section>
        
        <h2 style="color: #ffffff; font-size: 1.25rem;">About EV Charging</h2>
        <p style="color: #e8e2e2a8;">As fuel is required to run traditional vehicles, so is EV charging. Electric vehicle charging stations are the backbone of the EV revolution. They provide the essential energy needed to keep your electric car on the road, reduce carbon emissions, and contribute to cleaner air. At Statiq, we're dedicated to making the charging experience seamless, accessible, and efficient. Our mission is to create a greener world by expanding the network of EV charging stations across India. We envision a future where EV charging is as convenient as refuelling a traditional vehicle.</p>
        <h class="horizontal-line"></h>
        <h2 style="color: #ffffff; font-size: 1.25rem;">EV Charging Solutions for All</h2>
        <p style="color: #e8e2e2a8;">No matter whether you own an electric car, a scooter, or any other electric vehicle, we've got you covered. Our latest and advanced EV chargers are designed to cater to all types of charging needs, ensuring that you can charge your vehicle quickly and conveniently, regardless of its battery capacity and model. We manufacture both AC and DC fast chargers ranging from 3.3 kW to 60+ kW which automatically adjust charging speed according to your vehicle's requirements. Our goal is to provide you with the flexibility and peace of mind to drive your EV with confidence. We have also developed a Statiq EV charging mobile app that allows you to Discover nearby charging stations, Book charging sessions, and Pay conveniently through Statiq Wallet.</p>
    
    
       <br><br>
    <div class="footer-bottom" >
        <h class="horizontal-line"></h>
        <p>Privacy Policy | Terms & Conditions</p>
        <p>&copy; SHRI VISHNU ENGINEERING COLLEGE FOR WOMEN All rights reserved</p>
        <p>CHARGED WITH ❤️ IN INDIA 🇮🇳</p>
        <div class="social-links">
            <a href="#"><img src="fb.jpg" alt="Facebook"></a>
            <a href="#"><img src="insta.jpg" alt="Instagram"></a>
            <a href="#"><img src="linked.jpg" alt="LinkedIn"></a>
            <a href="#"><img src="you.jpg" alt="YouTube"></a>
            <a href="#"><img src="tweet.jpg" alt="Twitter"></a>
        </div>
    </div>
    
</footer>
<h class="horizontal-line"></h>
</section>

</body>



</html>