<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="st1.css">
</head>
<body>
<header>
        <div class="logo">
            <img src="logo1.jpg" alt="Statiq">
            <span class="logo-text">SparkLoom</span>
        </div>
        <nav>
           
             
            <ul>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#partners">Partner with Us</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
                <li><a href="/home" class="highlight">Home</a></li>
                

            </ul>
        </nav>
    </header>

    <div class="container">
                

        <div class="station-header">
            
            <div class="header-info">
                <h1>Station-B</h1>
                <p><img src="stationa.jpg"> Music Academy ,Near Guest House,SVECW</p>
                <a href="/slotbooking" class="book-now">Book Now</a>
            </div>
        </div>

        <div class="charger-info">
            <h2>Charger Information</h2>
            <div class="info-row">
                <div>
                    <h3>QR Code Value</h3>
                    <p>#3776</p>
                </div>
                <div>
                    <h3>Vehicle Type</h3>
                    <p><img src="scooty.jpg" style="height: 35px;width:35px; margin-right: 10px;"></img>Bikes</p>
<p><img src="carr.jpg" style="height: 35px;width:35px; margin-right: 10px;"></img>Cars</p>
                </div>
            </div>
        </div>

        <div class="socket-info">
            <h2>Socket Information</h2>
            <div class="sockets">
                <div class="socket">
                    <h3>CCS</h3>
                    <p><i class="fas fa-bolt"></i> 60 kWh</p>
                    <p>Rs.22/unit</p>
                </div>
                <div class="socket">
                    <h3>CCS</h3>
                    <p><i class="fas fa-bolt"></i> 60 kWh</p>
                    <p>Rs.22/unit</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
