body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
}
 header {
    background-color: #0a0a0a;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

header nav ul li a:hover,
header nav ul li a.highlight {
    background: #094837;
    border-radius: 5px;
}
        header .logo img {
    width: 50px;
    left:80px;
    top:15px;
}
header .logo .logo-text {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    color: #0a4408;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb span {
    color: #6c757d;
}

.station-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.station-header img {
    width: 100%;
   height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.header-info {
    flex: 1;
    padding: 20px;
}

.header-info h1 {
    margin: 0;
    font-size: 2em;
}

.header-info p {
    margin: 10px 0;
    color: #6c757d;
}
.header-info a{
    display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
}
.header-info a:hover{
    background-color: #d62839;
}

.book-now {
    background-color: #121413;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-now:hover {
    background-color: #113e27;
}

.charger-info, .socket-info {
    margin-bottom: 20px;
}

.charger-info h2, .socket-info h2 {
    margin-bottom: 10px;
}

.info-row {
    display: flex;
    justify-content: space-between;
}

.info-row div {
    flex: 1;
    margin-right: 10px;
}

.info-row div:last-child {
    margin-right: 0;
}

.sockets {
    display: flex;
    justify-content: space-between;
}

.socket {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #8f959a;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.socket:last-child {
    margin-right: 0;
}

.socket h3 {
    margin-top: 0;
    color: #0b0c0d;
}

.socket p {
    margin: 10px 0;
    color: #0e1113;
}
